**/node_modules
**/.pnpm-store
**/dist
**/.test-dist
**/build
**/coverage
**/.git
**/.DS_Store
**/.env
**/.env.*
**/*.log
**/*.tsbuildinfo
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/dev_data
packages/database/src/generated
design-assets
docs
